// css img, button, title, icon, elements...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

strong {
  font-family: ab; // optional
}

.--hidden {
  display: none;
}
.--h3 {
  @include text(pb, var(--fs-h3), var(--lh-h3), var(--black-cl), uppercase);
  margin-bottom: 10px;
}
.--h4 {
  @include text(pb, var(--fs-h4), var(--lh-h4), var(--black-cl), uppercase);
  margin-bottom: 10px;
}
.--h5 {
  @include text(pb, var(--fs-h5), var(--lh-h5), var(--black-cl), uppercase);
}

.pt {
  padding-top: var(--pd-section);
}
.pb {
  padding-bottom: var(--pd-section);
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.search--product {
  height: 100%;
  overflow: hidden;
  border-radius: var(--brus);
  display: flex;
  align-items: center;
  .form_group {
    height: 100%;
    position: relative;
    flex: 1;
    .inputfeild {
      height: 100%;
      width: 100%;
      flex: 1;
      padding: 5px 10px;
      outline: none;
    }
    .icon_search {
      position: absolute;
      right: 10px;
      top: 50%;

      @include transition(var(--t));
      @include transform(translateY(-50%));
      &:hover {
        fill: var(--main-cl);
        @include transition(var(--t));
      }
    }
  }
  .btn__search {
    height: 100%;
    background: var(--main-cl);
    @include mid(true);
    @include transition(var(--t));
    padding: 5px 10px;
    cursor: pointer;
    .icon_search {
      @include transition(var(--t));
    }
    &:hover {
      background: var(--gray-cl);
      @include transition(var(--t));
      .icon_search {
        @include transition(var(--t));
        fill: var(--main-cl);
      }
    }
  }
}
.listproduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.product {
  position: relative;
  border: 1px solid var(--main-cl);
  width: 100%;
  aspect-ratio: 300/454;
  .carousel-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      img {
        @include midimg;
      }
    }
  }
  .productInfo {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 10px; // margin-top: -20px;
    @include visible(0);
    @include transition(var(--t));
    @include transform(translateY(50%));
    background: rgba($color: #fff, $alpha: 0.5);
    .name {
      margin-bottom: 7px;
      a {
        @include text(pb, var(--fs-h5), var(--lh-h5), var(--main-cl), capitalize);
        @include transition(var(--t));
        @include overtext(1);
      }
      &:hover {
        a {
          color: var(--blue-cl);
          @include transition(var(--t));
        }
      }
    }
    .price {
      // @include text();
      font-size: 2.1rem;
      font-family: pb;
      text-transform: uppercase;
    }
    .desc {
      @include overtext(2);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .btnactiongr {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .btn {
        min-width: 70px;
        min-height: 20px;
        background: var(--green-cl);
        padding: 10px 15px;
        border-radius: var(--brus);
        @include mid(true);
        gap: 2px;
        color: var(--white-cl);
        @include transition(var(--t));
        cursor: pointer;
        svg {
          fill: #fff;
        }
        &:hover {
          @include transition(var(--t));
          background: var(--blue-cl);
        }
      }
    }
  }
  &:hover {
    // .carousel-img {
    //   .img {
    //     img {
    //       @include imghover;
    //     }
    //   }
    // }
    .productInfo {
      // margin-top: 0px;
      @include transform(translateY(0%));
      @include transition(var(--t));
      @include visible(1);
    }
  }
}
